<div class="product">

	<div>
		<img src="http://placehold.it/100x100">
	</div>

	<div class="values"
		<p id="name">
			<strong>Name:</strong> <%= product.name %>
		</p>

		<p id="description">
			<strong>Description:</strong> <%= product.description %>
		</p>

		<p id="price">
			<strong> Price: $</strong> <%= product.price_in_cents %>
		</p>

	</div>
</div>
